<div class="w-full text-center">
  <h1 class="text-2xl font-bold mb-4">Game of Life</h1>
</div>


<div class="w-full text-center mt-4">
    <% if !user_signed_in? %>
        <p class="text-gray-600 mb-4 italic">Per poter giocare, devi prima effettuare il login.</p>
        <%= render "devise/sessions/form", resource: User.new, resource_name: :user, devise_mapping: Devise.mappings[:user] %>
    <% else %>
        <h2>Benvenuto, <%= current_user.email %>! ora puoi iniziare il gioco</h2>
    <% end %>
</div>

<div>
    

<div>
